name: Deploy to EC2

on:
  push:
    branches: ["main"]   # cambia a "staging" si usas otra rama

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/apps/visionboard
            git pull
            npm install
            NEXT_USE_TURBOPACK=0 npm run build
            pm2 restart visionboard
